.variables-description p
	max-width: 500px

.variables
	.variables-actions
		float: right

		button, span, input
			margin-left: 10px
			float: right
			margin-bottom: 5px

	.alert
		float: left
		width: 75%

	th, td
		&.variable
			width: 30%
		&.actions
			width: 30px

	tr button
		margin: 0px
		padding-top: 3px

	tr input
		width: 100%
		height: 26px
		padding: 3px 6px
		margin: 1px 1px 0 1px
		line-height: 19px
		border: 1px solid #ddd

	td button
		margin-top: 2px

	.variable-table
		td
			padding: 16px 16px 16px 18px

	table
		clear: left

		th small
			font-weight: normal
			font-size: 0.8em
