.variables .bottom-actions button, .variables .bottom-actions span, .variables .bottom-actions input {
  margin-left: 10px;
  float: right; }

.variables th.variable {
  width: 200px; }

.variables th.actions {
  width: 100px; }

.variables tr button {
  margin: 0px; }

.variables tr input {
  width: 100%;
  height: 26px;
  padding: 0;
  margin: 1px;
  line-height: 20px; }

.variables td button {
  margin-top: 2px; }

.variables .variable-table td {
  padding: 16px;
  padding-left: 14px; }

.variables .variable-table-actions {
  margin-top: 73px; }
